<div class="blank-box" id="userlist">
    <div class="row">
        <div class="col">
            <h1>{{event?.name}}</h1>
            <h6 *ngIf="event?.hasHappened">Took place on: {{event?.date}}</h6>
            <h6 *ngIf="!event?.hasHappened">Takes place on: {{event?.date}}</h6>
            <p>{{event?.description}} <br> Location: {{event?.location}}</p>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-info" routerLink="edit">Edit event</button>
        </div>
    </div>
</div>