<div class="navbar">
  <div class="home-img-bg">
    <a routerLink="home"
      ><img src="../../../assets/Images/StoneCabin.png" alt="" class="home-img"
    /></a>
  </div>
  <div class="navigation-tabs">
    <div *ngIf="loggedIn">
    <a routerLink="/user" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Users</a>
    <a routerLink="/town" routerLinkActive="active-link">Towns</a>
    <a routerLink="/villager" routerLinkActive="active-link">Villagers</a>
    <a routerLink="/event" routerLinkActive="active-link">Events</a>
    <a routerLink="/user/{{loggedInUser}}" routerLinkActive="active-link">Profile</a>
  </div>
  </div>
  <div class="user-info">
    <div *ngIf="loggedIn">
      <a (click)="logout()">Logout</a>
    </div>
    <div *ngIf="!loggedIn">
      <a routerLink="/register">Register</a>
      <a routerLink="/login" style="margin-left: 3px;">Login</a>
    </div>

  </div>
</div>
