<div class="blank-box container" id="userlist">
    <div class="row">
        <div class="col">
            <h1>{{villager?.name}}</h1>
            <h6>Birthday: {{villager?.birthday}}</h6>
            <p>Gender: {{villager?.gender}} <br> Lifestage: {{villager?.lifeStage}} <br> Marriageable:
                {{villager?.marriageable ? "yes" : "no"}} </p>
            <p>Number of hearts: {{amountOfHearts}}</p>
            <p>Favorite gifts:</p>
            <ul>
                <li *ngFor="let favoriteGift of villager?.favoriteGifts">{{favoriteGift }}</li>
            </ul>
        </div>
        <div class="col text-end">
            <div *ngIf="isCreator">
                <div class="mb-1">
                    <button type="button" class="btn btn-info" routerLink="edit">Edit villager</button>
                </div>
                <div class="mb-1">
                    <button type="button" class="btn btn-danger" (click)="deleteVillager()">Delete user</button>
                </div>
            </div>
            <div *ngIf="!areFriends" class="mb-1">
                <button type="button" class="btn btn-info" (click)="befriend()">Befriend {{villager?.name}}?</button>
                </div>
                <div *ngIf="areFriends">               
                <button type="button" class="btn btn-danger mb-1" (click)="unfriend()">unfriend {{villager?.name}}?</button>
                <button type="button" class="btn btn-info mb-1" (click)="giveGift()">Give a gift to {{villager?.name}}?</button>

                </div>
            <button type="button" class="btn btn-info mb-1" (click)="openDialog()">Add {{villager?.name}} to your town</button>
        </div>
    </div>
</div>