<div class="blank-box" id="userlist">
  <div class="row">
    <div class="col">
      <h3>User list</h3>
    </div>
    <div class="col text-end">
      <button type="button" class="btn btn-primary" routerLink="new">
        New User
      </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Emailaddress</th>
        <th scope="col">Favorite thing</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <a
            routerLink="{{ user.username }}"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ user.username }}</a
          >
        </td>
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.favoriteThing }}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteUser(user)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
