footer {
  bottom: 0;
  width: 100%;
  background-image: url('../../../assets/Images/hout.png');
  background-repeat: repeat-x;
  object-fit: scale-down;
  padding: 16px;
  position: sticky;
  z-index: 1;
}
