<div class="blank-box" id="userlist">
    <div class="row">
        <div class="col">
            <h1>{{town?.name}}</h1>
            <h6>Founded in: {{creationDate}}</h6>
            <p>Capacity: {{town?.capacity}}</p>
            <p>Facilities:</p>
            <ul>
                <li *ngFor="let facility of town?.facilities">{{facility}}</li>
            </ul>
            <ul *ngIf="town?.events">
                <li *ngFor="let event of town?.events">{{event}}</li>
            </ul>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-info" routerLink="edit">Edit town</button>
        </div>
    </div>
</div>